*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#imgbox{
    background-color: rgb(12, 12, 55);
    padding: 10px;
    width: 100%;
    display: flex;
    /* justify-content:flex-start; */
    margin-bottom: 20px;

}

#imgbox > img {
    position: relative;
    width: 100%;
    height: 200px;
}
#banner{
position: absolute;
right: 50%;
bottom: 60%;
color: white;
font-size: 26px;
text-shadow: 1px 1px 2px;
}

#blog-content{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.blog1{
    width: 30%;
}
.blog1 > img{
   height: 200px;
    width: 100%;
}
#body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#side-news{
    width: 15%;
   
}
#side-news > h4{
    width: 100%;
    text-align: center;
    color: red;
}
#side-news > ul{
    width: 100%;
    list-style-type: none;
    color: black;
}
.side-pics{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.side-pics > img{
    width: 80%;
    height: 50px;
    flex-wrap: nowrap;
}
.side-pics > p{
    width: auto;
}
.price1{
    width: fit-content;
    color: red;
    font-size: 12px;
    font-weight: bold;
    background-color: white;
}
.price2{
    width: fit-content;
    color:green;
    font-size: 12px;
    font-weight: bold;
    background-color: white;
}
#lastbrand{
    margin-top: 20px;
    width: 100%;
}
#lastbrand > img{
    width: 100%;
    height: 90px;
    background-color: transparent;
}
/* Responsiveness code */
@media screen and (max-width:690px) {
    #main{
        max-width: 690px;
    }
    #body {
        max-width: 690px;
    }
    #blog-content{
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .blog1{
        flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
        }
        /* .blog1  */
#side-news{
    width: auto;
}
.side-pics{
    width: auto;
}
#banner{
    /* top: 300%; */
    bottom: 1%;
    right: 40%;
}
#imgbox {
    padding-right: 0;
    max-width: 690px;
    overflow: auto;
   
}
#imgbox > img {
    padding-right: 0;
    max-width: 690px;
   
}

}